/** = fara efeito em todos os elementos (tudo)
:root = elemento raiz de um documento, mas como a gente sempre usa com HTML ele equivale a tag html
html = tag html*/

:root{
    --bg-color: #000;
    --bg-second: #CCC;
    --tamanhodaFonte: 25px;
    --title: "Times new romam";
}
body{
    background-color: var(--bg-color);
    font-size: var(--tamanhodaFonte);
}
h1{
    font-family: var(--title);
    color: var(--font-color,#00f); /*Caso não tiver o color no root, basta declarar direto no item*/
    font-weight: bold;
}

.container{
   background-color: var(--bg-second);
   color:var(--font-color);
   font-family: var(--title);
   
}

@media(max-width: 650px)
{
   :root{
       --tamanhodaFonte:15px;
   }
}