*{ box-sizing: border-box;}

h1{font-family: 'Sedgwick Ave', cursive;}

body{
    font-size: 30px;
    margin: 50px;
}
table{
    
    text-align: center;
    width: 700px;
    height: 400px;
   border: 20px solid black; 
}
table thead{
    background-color: chartreuse;
}
/*table tbody{
  background-color: cornflowerblue;
}*/
th{ font-weight: normal;}
th,td{
    border: 20px solid black; /* colocar borda nas linhas e colunas*/
    padding: 10px;
}

tbody tr:hover{  /* tr: linha*/ 
    background-color: green;
}

tbody td{ /* td: coluna*/ 
    border-bottom: 20px solid blanchedalmond;
}

tbody tr:nth-child(even){
    background-color: rgba(97, 156, 243, 0.767);
}