body{
    margin-top: 0%;
}
.header {
    background-color: blue;
    color: white;
    font-size: 30px;
}
.header span{
  font-size: 20px;
}
/* ou .header > span{
    font-size: 550px;
}*/
.header + div{
    background-color: red;
}
.header + div + div > strong{
  color: greenyellow;
  font-size: 20px;
} 
/*outra forma
body {
    margin: 5px
   }
   .header {
    background-color: blue;
    color:white;
    font-size: 30px;
   }
   .header > span {
    font-size: 25px;
   }
   .header + div {
    background-color: red;
    color: black;
   }
   div {
    color: #39ff14;
   } */